.updateload {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    height: 95%;

    position: absolute;
    top: 0;
    left: 0;
    
    background-color: lightgray;
}