.user {
    &__profile {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
        
        position: relative;
    }

    &__role {
        text-align: center;
    }

    &__updateuser,
    &__updatepassword {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 94%;

        background-color: lightgray;
    }

}