.nav {
    position: absolute;

    top: 0;
    left: 0;
    
    padding: 10px;
}

.pad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    padding: 10px;
}

.popup {
    z-index: 100;
}

$size: 2em;
.custom-marker {
    width: 0;
    height: 0;

    &__icon {
        width: $size;
        height: $size;
        
        background-size: cover;

        z-index: -1;

        transform: translate(-50%, -100%);

        &--centered {
            transform: translate(-50%, -50%);
        }

        &--shipper {
            background-image: url('../../assets/images/shipper.svg');
        }
        &--driver {
            background-image: url('../../assets/images/driver.svg');
        }
        &--pick-up {
            background-image: url('../../assets/images/pick-up.svg');
        }
        &--delivery {
            background-image: url('../../assets/images/delivery.svg');
        }
    }
}